<div class="welcome">
    <a href="/register" class="animated flex">
    <h3 class="fade-in">Many Petitions</h3>
    <h3 class="fade-in">Billions of Signatures</h3>
    <br>
    <br>
    <h3 class="blink"><span class="changa fade-in">Zero Results</span></h3>
    <br>
    <br>
    <h3 class="fade-in">Time to Act!</h3>
    </a>
    <br>
    <br>
    <a href="/register" class="inline-block margin-right"><button>Register</button></a>
    <a href="/login" class="inline-block"><button>Log in</button></a>
</div>
